{
  "presets": [
    "react",
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "config": "./config",
        "images": "./src/images",
        "videos": "./src/videos",
        "modules": "./src/js/modules",
        "utils": './src/js/utils',
        "texts": './config/texts',
        "mocks": "./src/mocks",
        "services": "./src/js/services"
      }
    }]
  ]
}