.about-container {
  font-family: 'Baloo Bhaijaan', cursive;
  padding: 0 3em;
  max-width: 768px;
  h1 {
    font-size: 3.2rem;
    font-family: inherit;
    padding-bottom: 20px;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $salmonPink;
  }
  a {
    margin-top: 80px;
    display: inline-block;
  }
}