.cta-button-container {
  a {
    display: inline-block;
    border: 1px solid #de6570;
    color: #de6570;
    border-radius: 4px;
    line-height: 18px;
    padding: 6px 20px;
    color: inherit;
    text-transform: uppercase;
    color: #de6570;
    background: none;
    text-decoration: none;
    font-family: 'Roboto';
    @include transition(all 0.3s);
    &:hover {
      background: #de6570;
      color: #fff;
    }
  }
}